# Python cache/compiled files
__pycache__/
*.pyc
*.pyo

# ChromeDriver binary
chromedriver.exe
src/chromedriver.exe

# Virtual environments
venv/
.env/
env/
.venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
